<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!--  styles  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    <!--  fonts  -->
    {%  include "fonts/roboto-condensed.html" %}

    <!--  icons  -->
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css">

</head>
<body>
   <div class="admin-base">
        <div>
            {% include "auth/admin/layouts/sidebar.html" %}
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="system-report">
            <div class="error box">
                <i class="fi fi-rr-exclamation"></i>
                <p class="message"></p>
            </div>
            <div class="success box">
                <i class="fi fi-rr-check-circle"></i>
                <p class="message"></p>
            </div>
            <div class="warning box">
                <i class="fi fi-rr-triangle-warning"></i>
                <p class="message"></p>
            </div>
        </div>
   </div>

    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>
