{% extends "layouts/base.html" %}

{% block content %}
    <div class="cart">
        <div class="container">
            <div class="con">
                <div class="col flex-width">
                    <div class="head">
                        <h1>Your cart</h1>
                        <span>1</span>
                    </div>
                    <div class="row">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="p-de">
                            <div class="col">
                                <div class="status">
                                    <div class="status-condition">
                                        <span class="new">New</span>
                                    </div>
                                    <div class="status-stock">
                                        <span class="in-stock">2 In-stock</span>
                                    </div>
                                </div>
                                <div class="pname">Product name</div>
                                <div class="pprice">$50.00</div>
                                <div class="pq">
                                    <button class="btn-dqty">
                                        <div></div>
                                    </button>
                                    <input type="number" value="1" readonly>
                                    <button class="btn-iqty">
                                        <div></div>
                                        <div></div>
                                    </button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="remove">
                                    <button>
                                        <div></div>
                                        <div></div>
                                    </button>
                                </div>
                                <div class="sub-pprice">
                                    <input type="text" readonly value="$50.00">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col fixed-width">
                    <div class="head">
                        <h1>Cart Summary</h1>
                    </div>
                    <div class="cal">
                        <div class="row">
                        <div>Item</div>
                        <div>x1</div>
                    </div>
                        <div class="row subtotal">
                            <div>Subtotal</div>
                            <div>$50.00</div>
                        </div>
                        <div class="row">
                            <div>Delivery</div>
                            <div>Calculate on next step.</div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="btn">
                            Checkout
                            <img src="{{ url_for('static', filename='images/icons/arrow-right.png') }}" alt='arrow' width="24px">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}