<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!--  styles  -->
    {% include "shares/style.html" %}

    <!--  fonts  -->
    {%  include "fonts/roboto-condensed.html" %}

    <!-- icon -->
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css'>

</head>
<body>
    {% include "layouts/header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% if request.path != "/cart" and request.path != "/checkout" %}
        {% include "layouts/footer.html" %}
    {% endif %}

    {% include "shares/js.html" %}
</body>
</html>
