<div class="global-option">
    <div class="container">
        <div class="option">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search" id="search-bar">
            </div>
            <button class="filter">
                <div class="r">
                    <div class="c"></div>
                    <div class="l"></div>
                </div>
                 <div class="r">
                    <div class="c"></div>
                    <div class="l"></div>
                </div>
                 <div class="r">
                    <div class="c"></div>
                    <div class="l"></div>
                </div>
            </button>
        </div>
    </div>
</div>