<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Service Unavailable!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
     {%  include "fonts/roboto-condensed.html" %}

    <!-- icon -->
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css">
</head>
<body>
    <div class="error-page">
        <div class="con">
            <div class="head">
                <h1>503</h1>
            </div>
            <div class="body">
                <p>Service unavailable!</p>
            </div>
            <div class="foot">
                <a href="{{ request.path }}">
                    <span class="btn">Try Again<i class="fi fi-rr-refresh"></i></span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>