/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                                - lim chhayhout [development] -                            */
/*                                        login style css                                    */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.login .login-content{
    width: 100%;
    max-width: 1440px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .login-content .col{
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
}

.login .login-content .col header{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.login .login-content .col input{
    width: 100%;
    border-radius: 5px;
}

.login .login-content .col .btn{
    margin-top: 20px;
}

@media only screen and (max-width: 425px) {

    .login .login-content .col{
        width: 280px;
    }

}

.admin-base{
    width: 100%;
    display: flex;
}

.admin-base .content{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.admin-base .sidebar{
    position: relative;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.10);
    background: #fff;
}

.admin-base .sidebar .logo{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 84px;
    font-size: 2rem;
}

.admin-base .sidebar .nav .row{
    width: 100%;
    padding: 1rem 2rem;
}

.admin-base .sidebar .nav .active{
    color: #007bff;
    border-bottom: 1px solid #007bff;
}

.admin-base .sidebar .version{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
}

.admin-base .mgt{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.admin-base .mgt::-webkit-scrollbar {
    display: none;
}

.admin-base .mgt .head-row{
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    padding: 1rem 2rem;
}

.admin-base .mgt .head-row .col{
    display: flex;
    gap: 1rem;
}

.admin-base .mgt .head-row .col .search{
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    background: rgba(0, 0, 0, 0.10);
    border-radius: 5px;
}

.admin-base .mgt .head-row .col .search .icon{
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
}

.admin-base .mgt .head-row .col .search .icon .circle{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1.5px solid #999999;
}

.admin-base .mgt .head-row .col .search .icon .stand{
    position: absolute;
    right: 3px;
    bottom: 0;
    height: 6px;
    width: 1.5px;
    background-color: #999999;
    rotate: -44deg;
}

.admin-base .mgt .head-row .col .search input{
    width: 280px;
    border: none;
    outline: none;
    background: none;
    font-family: var(--font);
    font-size: 1rem;
    color: #999999;
}

input::placeholder{
    color: #999999;
}

.admin-base .mgt .flex{
    display: flex;
    gap: 1rem;
}

.tbl{
    width: 100%;
    background: #ffffff;
    border-collapse: collapse;
}

.tbl thead tr th{
    text-align: start;
    padding: 1rem 2rem;
    background-color: rgb(225, 225, 225);
    font-weight: normal;
    border-bottom: #fff solid 1px;
}

.tbl tbody tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.tbl tbody tr:last-child{
    border-bottom: none;
}

.tbl tbody tr td{
    padding: 1rem 2rem;
}

.tbl tbody tr td a{
    display: inline-block;
}

.tbl tbody tr td a .btn{
    background-color: #999999 !important;
}

.tbl tbody tr .action{
    display: flex;
    gap: 1rem;
}

.tbl tbody tr .action .delete{
    background-color: red !important;
}

.tbl .role-user{
    color: green;
}

.tbl .status{
    color: #007bff;
}

.tbl .row{
    cursor: pointer;
    transition: .1s;
}

.tbl .row:hover{
    background: rgb(225, 225, 225);
}

.btn-back{
    height: 48px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: transparent !important;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.admin-base form{
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background: #ffffff;
}

.admin-base form .col{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.admin-base form .row{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.admin-base form .image-input{
    width: 145px;
    height: 145px;
    position: relative;
    border: 1px solid #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    overflow: hidden;
}

.admin-base form .image-input span{
    font-size: 14px;
    color: #999999;
}

.admin-base form #row-add-stock input,
.admin-base form #row-edit-stock input{
    width: 100%;
    max-width: 200px;
}

.admin-base form .pre-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    display: none;
}

.admin-base form .btn-browse-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.admin-base form .row .lim-input input{
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.admin-base form .row .lim-input span{
    font-size: 14px;
    color: #999999;
}

.admin-base form .row .lim-input select{
    width: 100%;
    max-width: 200px;
    height: 48px;
    border-radius: 5px;
    outline: none;
    padding: 0 0.8rem;
    border: 1px solid #00000050;
    font-family: var(--font);
    cursor: pointer;
}

.admin-base form .row textarea{
    width: 100%;
    max-width: 400px;
    height: 96px;
    outline: none;
    padding: 1rem;
    resize: vertical;
    font-size: 1rem;
    background: transparent;
    border: 1px solid #00000050;
    border-radius: 5px;
    scrollbar-width: none; /* Firefox */
}

.admin-base form .row textarea::-webkit-scrollbar {
    display: none;
}

.admin-base form .row button[type="submit"] {
    padding: 0 1rem;
    width: 100%;
    max-width: 200px;
    height: 48px;
    font-size: 1rem;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem !important;
}

/* */
