:root{
    --font: "Roboto Condensed", serif;
}

body{
    position: relative;
    font-family: "Roboto Condensed", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
}

button, input{
    font-family: var(--font);
}

button{
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}


.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 40px;
}

.btn{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
}

.font-weight-md{
    font-weight: 500;
}

.no-scroll {
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {

    .container{
        padding: 0;
    }

}

.global-header{
    position: relative;
    top: 0;
    z-index: 99;
    width: 100%;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.global-header .top-header{
    width: 100%;
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.global-header .top-header .brand-logo a{
    font-size: 22px;
}

.global-header .top-header .link-cart{
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.global-header .top-header .link-cart .trigger-cart{
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 22px;
    height: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.global-header .top-header .link-cart .trigger-cart div:nth-child(1){
    width: 12px;
    height: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
}

.global-header .top-header .link-cart .trigger-cart div:nth-child(2){
    width: 22px;
    height: 18px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
}

.global-header .top-header .link-cart .trigger-cart .cart-count{
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}

.global-footer{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
}

.global-footer footer{
    width: 100%;
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lim-input{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.lim-input span{
    position: absolute;
    z-index: 9;
    top: 15px;
    left: 12px;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 0.1s ease-in-out;
    padding: 0 2px;
    color: #000000;
    background: #ffffff;
}

.lim-input input{
    position: relative;
    z-index: 10;
    height: 48px;
    padding: 0 12px;
    font-size: 1rem;
    font-family: var(--font);
    font-weight: 400;
    outline: none;
    border: 1px solid #00000050;
    background: transparent;
    color: #000000;
}

.lim-input input:focus + span,
.lim-input input:not(:placeholder-shown) + span {
    top: 0;
    left: 16px;
    font-size: 0.75rem;
    color: #000000;
}

.lim-input input.empty {
    border-color: rgb(169, 19, 19);
}

.global-option .option{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.global-option .option .search{
    flex: 1;
    max-width: 380px;
    position: relative;
    border: 1px solid #000000;
    padding: 12px;
    display: flex;
    gap: 1rem;
    border-radius: 5px;
}

.global-option .option .search i{
    font-size: 1rem;
}

.global-option .option .search input{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: #000000;
}

.global-option .option .search input::placeholder{
    color: rgba(0, 0, 0, 0.50);
    font-weight: lighter;
}

.global-option .option .filter{
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 5px;
}

.global-option .option .filter .r{
    display: flex;
    align-items: center;
    gap: 2px;
}

.global-option .option .filter .r .c{
    width: 4px;
    height: 4px;
    background: #000000;
}

.global-option .option .filter .r .l{
    width: 8px;
    height: 2px;
    background: #000000;
}
