main{
    padding: 1rem;
    position: relative;
}

.con{
    width: 100%;
    max-width: 1440px;
}

.list .container{
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.list .head{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.list .head span{
    border-right: 1px solid #000000;
    padding-right: 4px;
}

.list .grid-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.list .grid-list .card{
    position: relative;
    width: 100%;
    cursor: pointer;
}

.list .grid-list .card .row{
    position: relative;
    width: 100%;
    padding: .5rem 0;
}

.list .grid-list .card .product-image{
    aspect-ratio: 4 / 4;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.list .grid-list .card .product-image img{
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
}

.list .grid-list .card .product-image .st-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    transition: all .2s ease-in-out;
}

.list .grid-list .card .product-image .nd-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.list .grid-list .card .product-name::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
    width: 0;
    height: 1px;
    background-color: #000000;
    transition: width .3s ease-in-out;
}

.list .grid-list .card .product-name{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    margin: 8px 0;
}

.list .grid-list .card .product-price{
    font-size: 1rem;
}

.list .grid-list .card .product-code{
    font-size: 12px;
    color: #999999;
}

.list .grid-list .card .flex{
    gap: 1rem;
}

.list .grid-list .card .current-price {
    color: #ff0000;
    opacity: 50%;
    text-decoration: line-through;
}

.list .grid-list .card .discount-rate{
    color: #ff0000;
}

.status{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: 99;
    border: 1px solid #808080;
    border-radius: 5px;
    overflow: hidden;
}

.status-stock{
    padding: 8px 10px;
    background-color: #ffffff;
    font-size: 14px;
}

.stock-stock span{
    color: #000000;
}

.status-condition{
    padding: 8px 10px;
    background-color: #808080;
    font-size: 14px;
    position: relative;
}

.status-condition span{
    position: relative;
    z-index: 2;
    color: #ffffff;
}

.out{
    opacity: 50%;
    cursor: default;
}

@media only screen and (min-width: 900px) {

    .list .grid-list .card:hover .product-image .nd-image{
        opacity: 100%;
        z-index: 5;
    }

    .list .grid-list .card:hover .product-name::after{
        width: 100%;
    }

}

@media only screen and (max-width: 900px) {

    .list .grid-list .card .row{
        padding: 1rem 0;
    }

    .list .grid-list{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 500px) {
    .status-stock{
        padding: 6px 8px;
        font-size: 12px;
    }

    .status-condition{
        padding: 6px 8px;
        font-size: 12px;
    }
}

.detail{
    margin-bottom: 2rem;
}

.detail .container{
    display: flex;
    justify-content: center;
}

.detail .con{
    display: flex;
    gap: 1rem;
}

.detail .flex-width{
    flex: 1;
    display: flex;
    gap: 0.5rem;
}

.detail .flex-width .sub-slide{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.detail .flex-width .sub-slide .slide{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    aspect-ratio: 4 / 4;
    overflow: hidden;
    transition: all .1s;
}

@media (max-width: 900px) {
    .detail .con{
        flex-direction: column;
    }

    .detail .flex-width{
        width: 100% !important;
        flex-direction: column-reverse;
    }

    .detail .flex-width .sub-slide {
        width: 100%;
        flex-direction: row;
    }

    .detail .flex-width .sub-slide .slide{
        width: 25%;
    }
}

.detail .flex-width .sub-slide .slide img{
    width: 100%;
    height: 100%;
}

.detail .flex-width .main-slide{
    flex: 1;
    height: fit-content;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    aspect-ratio: 4 / 4;
    overflow: hidden;
}

.detail .flex-width .main-slide img{
    width: 100%;
    height: 100%;
}

.detail .fixed-width{
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 900px) {
    .detail .fixed-width{
        max-width: 100%;
    }
}

.detail .fixed-width .row .status{
    position: relative;
    width: fit-content;
    left: 0;
    top: 0;
}

.detail .row .pn, .row .pp{
    font-size: 1.2rem;
    font-weight: bold;
}

.detail .flex{
    gap: 1rem;
}

.detail .op{
    color: #ff0000;
    opacity: 50%;
    text-decoration: line-through;
}

.detail .dr{
    color: #ff0000;
}

.detail .row .ps{
    font-size: 1rem;
}

.detail .row fieldset{
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.detail .row fieldset h2{
    color: #999999;
}

.detail .row fieldset span{
    color: #000000;
}

.detail .pd{
    padding: 1rem 0;
}

/* cart */

.cart h2{
    font-size: 1.2rem;
    font-weight: bold;
}

.cart .con{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.cart .fixed-width{
    width: 480px;
}

.cart .fixed-width .box{
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart .flex-width{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.cart .flex-width .head{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart .flex-width .head span{
    border-right: 1px solid #000000;
    padding-right: 4px;
}

.cart .flex-width .row{
    width: 100%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}

.cart .flex-width .row .image{
    width: 150px;
    aspect-ratio: 1/1;
}

.cart .flex-width .row .p-de{
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.cart .flex-width .row .p-de .col .status{
    position: relative;
    left: 0;
    top: 0;
}

.cart .flex-width .row .p-de .col .status .status-condition, .cart .flex-width .row .p-de .col .status .status-stock{
    background: none;
    padding: 0;
}

.cart .flex-width .row .p-de .col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cart .flex-width .row .p-de .col .pq{
    position: absolute;
    bottom: 0.5rem;
}

.cart .flex-width .row .p-de .col .pname, .cart .flex-width .row .p-de .col .price{
    font-size: 1rem;
}

.cart .flex-width .row .p-de .col .remove{
    cursor: pointer;
}

.cart .flex-width .row .p-de .col .remove i{
    font-size: 1.5rem;
    color: #00000050;
}

.cart .flex-width .row .p-de .col .pq{
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    align-items: center;
}

.cart .flex-width .row .p-de .col .pq a{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 5px;
}

.cart .flex-width .row .p-de .col .pq i{
    font-size: 1.5rem;
}

.cart .flex-width .row .p-de .col .pq input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.cart .flex-width .row .p-de .col .pq input::-webkit-inner-spin-button, .cart .flex-width .row .p-de .col .pq input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.cart .flex-width .row .p-de .col .sub-price{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}


.cart .flex-width .row .current-price{
    color: #ff0000;
    opacity: 50%;
    text-decoration: line-through;
}

.cart .flex-width .row .p-de .col .sub-price input{
    border: none;
    outline: none;
    background-color: transparent;
    width: fit-content;
    font-size: 1rem;
    text-align: right;
}

.cart .fixed-width .head h1{
    font-size: 1.2rem;
}

.cart .fixed-width .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart .fixed-width .cal{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
}

@media (max-width: 1024px) {
    .cart .fixed-width{
        width: 400px;
    }
}

@media (max-width: 900px){
    .cart .con{
        flex-direction: column;
    }

    .cart .fixed-width {
        width: 100%;
    }
}

.checkout .con{
    display: flex;
    gap: 1rem;
}

.checkout .flex-width{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkout .flex-width .row{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkout .flex-width .row .flex{
    width: 100%;
    gap: 1rem;
}

.checkout .flex-width .row .lg input{
    width: 100% !important;
}

.checkout .flex-width .row .lg{
    width: 100% !important;
}

.checkout .flex-width .row .md input{
    width: 100%;
    max-width: 50% !important;
}

.checkout .flex-width .row h2{
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.checkout .lim-selection {
    position: relative;
    width: 50%;
}

.checkout #span-holder-city, #span-holder-dis{
    position: absolute;
    z-index: 9;
    top: 15px;
    left: 12px;
    font-size: 0.9rem;
    font-weight: 300;
    transition: all 0.1s ease-in-out;
    padding: 0 2px;
    color: #000000;
    background-color: #ffffff !important;
}

.checkout .lim-selection-box {
    border-radius: 5px;
    position: relative;
    z-index: 10;
    height: 48px;
    padding: 0 12px;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    border: 1px solid #00000050;
    background: transparent;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.checkout .dropdown-icon {
    font-size: 0.9rem;
    color: #00000050;
}

.checkout .lim-selection-style {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
}

.checkout .lim-selection-style div {
    padding: 12px;
    cursor: pointer;
}

.checkout .lim-selection-style div:hover {
    background-color: #f0f0f0;
}

.checkout .lim-option-payment{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkout .option-con-payment{
    width: 100%;
    position: relative;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #00000050;
    justify-content: space-between;
    cursor: pointer;
}

.checkout .option-con-payment.selected {
    border: 1px solid #000000;
    background-color: #00000010;
}

.checkout .option-con-payment .branding-payment{
    display: flex;
    align-items: center;
}

.checkout .option-con-payment .title{
    font-size: 1rem;
    font-weight: 500;
    padding: 0 10px;
    color: #00000060;
}

.checkout .option-con-payment.selected .title {
    color: #000000;
}

.checkout .option-con-payment .description{
    font-size: 0.8rem;
    padding: 0 12px;
    font-weight: 300;
}

.checkout .fixed-width .summary-box{
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkout .fixed-width .summary-box .row{
    display: flex;
    justify-content: space-between;

}

.checkout .fixed-width .summary-box h2{
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 1px solid #00000050;
}

.checkout .fixed-width{
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkout .fixed-width .order-item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkout .fixed-width .order-item h2{
    font-size: 1.2rem;
    font-weight: bold;
}

.checkout .fixed-width .order-item .card{
    position: relative;
    display: flex;
    border: 1px solid #00000050;
    border-radius: 5px;
    overflow: hidden;
}

.checkout .fixed-width .order-item .card .details{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checkout .fixed-width .order-item .card .p-image{
    width: 120px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.checkout .fixed-width .order-item .card .p-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkout .fixed-width .order-item .card .p-qty{
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 2;
    padding: 4px;
    background-color: whitesmoke;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .checkout .fixed-width{
        width: 400px;
    }
}

@media (max-width: 900px) {
    .checkout .fixed-width{
        width: 100%;
    }

    .checkout .con{
        flex-direction: column;
        gap: 2rem;
    }
}

.error-msg {
    color: red;
    display: none;
    gap: .5rem;
}

.empty-input {
    border: 1px solid red !important;
}

.empty-span {
    color: red !important;
}

/* invoice */

.invoice{
    width: 100%;;
}

.invoice .container .con{
    width: 100%;
    max-width: 1440px;
}

.invoice .con .tp{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.invoice .tp .box{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.invoice .tp .box .row{
    text-align: center;
}

.invoice .tp .box .row i{
    font-size: 2.8rem;
}

.invoice .tp .box .row h2{
    font-size: 1.2rem;
    font-weight: bold;
}

.invoice .tp .box .row span{
    font-weight: bold;
}

.invoice .flex-width{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

.invoice .fixed-width{
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.invoice .flex-width .row{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.invoice .flex-width .row h2{
    font-weight: bold;
}

.invoice .flex-width .in{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 1px dashed #00000050;
}

.invoice .fixed-width .summary-box{
    padding: 1rem;
    border-radius: 5px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.invoice .fixed-width .summary-box .row{
    display: flex;
    justify-content: space-between;
}

.invoice .fixed-width .summary-box .row h2{
    font-weight: bold;
}

.invoice .fixed-width .summary-box .line{
    width: 100%;
    height: 1px;
    background-color: #00000050;
}

.invoice .fixed-width .order-detail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.invoice .fixed-width .order-detail h2{
    font-weight: bold;
}

.invoice .fixed-width .order-detail .card{
    padding: 1rem;
    border: 1px solid #00000050;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 900px) {
    .invoice .fixed-width{
        max-width: 100%;
    }

    .invoice .flex{
        flex-direction: column;
    }
}

.pop{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 999;
    padding: 1rem;
    backdrop-filter: blur(5px);
}

.pop .con{
    width: 100%;
    max-width: 425px;
    padding: 1rem;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pop .con .head{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.pop .con .head i, .pop .con .head .message{
    color: #ff0000;
}

.pop .con .body{
    width: 100%;
    height: fit-content;
    max-height: 150px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pop .con .body .row{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.pop .con .body .row img{
    width: 120px;
    height: 120px;
}

.pop .con .foot{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.pop .con .foot .btn{
    display: flex;
    gap: 1rem;
}

.pop .con .foot .return{
    background-color: transparent;
    border: 1px #00000050 solid;
    color: #000000;
}

@media (max-width: 900px) {
    .pop .con .foot{
        flex-direction: column;
    }
}

/* contact */

.contact .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    width: 100%;

}

.contact .con{
    display: flex;
    flex-direction: column;
}

.contact .con .margin{
    margin-top: 4rem;
}

.contact .con-head{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact .con-head .line{
    height: 1px;
    width: 100%;
    background-color: #00000005;
}

.contact .con-head h2{
    font-weight: bold;
    font-size: 1.5rem;
}

.contact .con-head p{
    color: #00000050;
}

.contact .row form{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.contact .row form input{
    width: 420px;
}

.contact .row form textarea{
    width: 420px;
    height: 48px;
    border-radius: 5px;
    resize: vertical;
    padding: 13px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #00000050;
}

.contact .row form .message{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact .row .flex{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact .row .flex .col{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
}

.contact .row .flex .col i{
    font-size: 1.5rem;
    color: #00000050;
}

.contact .row .flex .col h4{
    font-size: 1.2rem;
    color: #00000050;
}

.contact .row .flex .col .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.contact .row .flex .col .box a{
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact .row .flex .col .box .line{
    height: 1rem;
    width: 1px;
}

.contact .row .flex .col .box img{
    width: 1.5rem;
}

@media (max-width: 900px) {
    .contact .row form {
        width: 100%;
    }
    .contact .row form input{
        width: 100%;
    }

    .contact .row form textarea{
        width: 100%;
    }

    .contact .row .flex{
        flex-direction: column;
        gap: 2rem;
    }
}


@media print {
    #download {
        display: none !important;
    }
}
