<div class="list all-products">
    <div class="container">
        <div class="head con">
            <h2>All Products</h2>
            <span>4</span>
        </div>
        <div class="grid-list con">
            <a class="card" href="">
                 <div class="status">
                     <div class="status-condition">
                         <span class="new">New</span>
                     </div>
                     <div class="status-stock">
                         <span class="pre-order">Pre-order</span>
                     </div>
                 </div>
                 <div class="product-image">
                     <img class="st-image" >
                     <img class="nd-image" >
                 </div>
                 <div class="row product-details">
                     <div class="product-name">Product 4</div>
                     <div class="product-code">093h434</div>
                     <div class="product-price">$12.00</div>
                 </div>
            </a>
            <a class="card" href="">
                 <div class="status">
                     <div class="status-condition">
                         <span class="new">New</span>
                     </div>
                     <div class="status-stock">
                         <span class="in-stock">2 In-stock</span>
                     </div>
                 </div>
                 <div class="product-image">
                     <img class="st-image" >
                     <img class="nd-image" >
                 </div>
                 <div class="row product-details">
                     <div class="product-name">Product 4</div>
                     <div class="product-code">h947434</div>
                     <div class="product-price">$12.00</div>
                 </div>
            </a>
            <a class="card" href="">
                 <div class="status">
                     <div class="status-condition">
                         <span class="new">New</span>
                     </div>
                     <div class="status-stock">
                         <span class="in-stock">2 In-stock</span>
                     </div>
                 </div>
                 <div class="product-image">
                     <img class="st-image" >
                     <img class="nd-image" >
                 </div>
                 <div class="row product-details">
                     <div class="product-name">Product 4</div>
                     <div class="product-code">54545se</div>
                     <div class="product-price">$12.00</div>
                 </div>
            </a>
            <a class="card" href="">
                 <div class="status">
                     <div class="status-condition">
                         <span class="new">New</span>
                     </div>
                     <div class="status-stock">
                         <span class="in-stock">2 In-stock</span>
                     </div>
                 </div>
                 <div class="product-image">
                     <img class="st-image" >
                     <img class="nd-image" >
                 </div>
                 <div class="row product-details">
                     <div class="product-name">Product 4</div>
                     <div class="product-code">efe444</div>
                     <div class="product-price">$12.00</div>
                 </div>
            </a>
        </div>
    </div>
</div>