<div class="head-row">
    <div class="col">
        Add New User
    </div>
    <div class="col">
        <div class="sub">
            <a href="{{ url_for('user_management') }}">
                <div class="btn-back">
                    <span>Back</span>
                </div>
            </a>
        </div>
    </div>
</div>
<form id="user-form" action="{{ url_for('user_management_create_user') }}" method="POST" enctype="multipart/form-data">
    <div class="col">
        <div class="row">
            <h2>Name</h2>
            <div class="lim-input">
                <span>Name</span>
                <input type="text" name="name" id="username-add" class="lim-input-style" required>
            </div>
        </div>
        <div class="row">
            <h2>Telephone</h2>
            <div class="lim-input">
                <span>Phone Number (+855)</span>
                <input type="number" name="telephone" id="telephone-add" class="lim-input-style" required>
            </div>
        </div>
        <div class="row">
            <h2>Email</h2>
            <div class="lim-input">
                <span>Email</span>
                <input type="email" name="email" id="email-add" class="lim-input-style" required>
            </div>
        </div>
        <div class="row">
            <h2>Password</h2>
            <div class="lim-input">
                <span>Password</span>
                <input type="password" name="password" id="password-add" class="lim-input-style" required>
            </div>
        </div>
         <div class="row">
            <button type="submit" class="btn">Add User <i class="fi fi-rr-arrow-right"></i></button>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <h2>Profile</h2>
            <div class="image-input">
                <span>Upload Profile</span>
                <input type="file" name="profile_pic" accept="image/*" hidden>
                <img class="pre-image previewImage" src="" alt="Image Preview" style="display: none;">
                <div class="btn-browse-image upload"></div>
            </div>
        </div>
        <div class="row">
            <h2>Role</h2>
            <div class="lim-input" id="role-add">
                <span>Select Role</span>
                <select name="role_id" id="role-add" class="lim-input-style" required>
                    {% for role in roles %}
                        <option value="{{ role.id }}">{{ role.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <h2>Status</h2>
            <div class="lim-input" id="status-add">
                <span>Select Status</span>
                <select name="status" id="status-add" class="lim-input-style" required>
                    <option value="Enable">Active</option>
                    <option value="Disable">Inactive</option>
                </select>
            </div>
        </div>
    </div>
</form>
