<div class="head-row">
    <div class="col">
        Add New Category
    </div>
    <div class="col">
        <div class="sub">
            <a href="{{ url_for('category_management') }}">
                <div class="btn-back">
                    <span>
                        Back
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>
<form id="category-form" action="{{ url_for('category_management_create_category') }}" method="POST">
    <div class="col">
        <div class="row">
            <h2>Name</h2>
            <div class="lim-input">
                <span>Category Name</span>
                <input type="text" name="name" class="lim-input-style" required>
            </div>
            <h2>Description</h2>
            <div class="lim-input">
                <span>Category Description</span>
                <input type="text" name="description" class="lim-input-style">
            </div>
        </div>
         <div class="row">
            <button type="submit" class="btn">Add Category <i class="fi fi-rr-arrow-right"></i></button>
        </div>
    </div>
</form>