<div class="head-row">
    <div class="col">
        All Products
    </div>
    <div class="col">
        <div class="sub">
            <div class="search">
                <div class="icon">
                    <div class="circle"></div>
                    <div class="stand"></div>
                </div>
                <input type="text" name="search-product" placeholder="Search">
            </div>
        </div>
        <div class="sub">
            <a href="{{ url_for('product_management_add') }}">
                 <div class="btn">
                    <span>Add New Product</span>
                </div>
            </a>
        </div>
    </div>
</div>
<table class="tbl">
    <thead>
        <tr>
            <th class="pd-l">Image</th>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th class="pd-r">Status</th>
        </tr>
    </thead>
    <tbody class="tbl-product">
        {% if products|length == 0 %}
            <tr class="row">
                <td class="pd-l null-data" colspan="5">No product found!</td>
            </tr>
        {% else %}
            {% for product in products %}
                <tr class="row" data-href="{{ url_for('product_management_show', product_id=product.id) }}">
                    <td class="n-pd">
                        {% if product.detail.image1 %}
                            <img src="{{ url_for('static', filename='images/products/' ~ product.detail.image1) }}" width="50">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/products/product_icon.png') }}" width="50">
                        {% endif %}
                    </td>
                    <td>{{ product.code }}</td>
                    <td>{{ product.detail.name }}</td>
                    <td>${{ '%.2f'|format(product.detail.price) }}</td>

                    <td class="pd-r">
                        <div class="status {{ 'pending' if product.status == 'Pending' else 'active' }}">
                            {{ product.status }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

