<div class="head-row">
    <div class="col">
        All Category
    </div>
    <div class="col">
        <div class="sub">
            <div class="search">
                <div class="icon">
                    <div class="circle"></div>
                    <div class="stand"></div>
                </div>
                <input type="text" name="search-category" placeholder="Search">
            </div>
        </div>
        <div class="sub">
            <a href="{{ url_for('category_management_add') }}">
                <div class="btn">
                    <span>Add New Category</span>
                </div>
            </a>
        </div>
    </div>
</div>
<table class="tbl">
    <thead>
        <tr>
            <th class="pd-l">Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="tbl-category">
        {% if categories|length == 0 %}
            <tr class="row">
                <td class="pd-l null-data" colspan="3">No category found!</td>
            </tr>
        {% else %}
            {% for category in categories %}
                <tr class="row">
                    <td class="pd-l">{{ category.name }}</td>
                    <td>{{ category.description | default("-", true) }}</td>
                    <td class="action pd-r">
                        <a href="{{ url_for('category_management_delete_category', category_id=category.id) }}"
                           class="delete-link"
                           data-type="category"
                           data-id="{{ category.id }}"
                           data-redirect="/category-management">
                           <div class="delete">
                               <i class="fi fi-rr-trash"></i>
                           </div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
