<div class="head-row">
    <div class="col">
        All Users
    </div>
    <div class="col">
        <div class="sub">
            <div class="search">
                <div class="icon">
                    <div class="circle"></div>
                    <div class="stand"></div>
                </div>
                <input type="text" name="search-user" placeholder="Search">
            </div>
        </div>
        <div class="sub">
            <a href="{{ url_for('user_management_add') }}">
                 <div class="btn">
                    <span>Add New User</span>
                </div>
            </a>
        </div>
    </div>
</div>
<table class="tbl">
    <thead>
        <tr>
            <th class="pd-l">Profile</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th class="pd-l">Status</th>
        </tr>
    </thead>
    <tbody class="tbl-user">
        {% if users|length == 0 %}
            <tr class="row">
                <td class="pd-l null-data" colspan="5">No user found!</td>
            </tr>
        {% else %}
            {% for user in users %}
                <tr class="row" data-href="{{ url_for('user_management_show', user_id=user.id) }}">
                    <td class="n-pd">
                        <img src="{{ url_for('static', filename='images/users/' ~ user.profile_pic) }}" alt="Profile" width="50">
                    </td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <div class="role-user">
                            {{ user.user_role.name }}
                        </div>
                    </td>
                    <td class="pd-l">
                        <div class="status">
                            {% if user.status == "Enable" %}
                                Active
                            {% else %}
                                Inactive
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
