<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    <!--  fonts  -->
    {%  include "fonts/roboto-condensed.html" %}

    <!--  icons  -->
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css">

</head>
<body>

    <!-- header -->
    <div class="global-header">
        <div class="container">
            <div class="top-header">
                <div class="brand-logo">
                    <a href="{{ url_for('index') }}">Lim</a>
                </div>
            </div>
        </div>
    </div>

    <!-- login -->
    <div class="login">
        <div class="container">
            <div class="login-content">
                <form action="{{ url_for('login_post') }}" method="POST" class="col">
                    <header>Login</header>
                    <div class="lim-input">
                        <span >Email</span>
                        <input type="email" name="email" id="email" class="lim-input-style" required>
                    </div>
                    <div class="lim-input">
                        <span>Password</span>
                        <input type="password" name="password" id="password" class="lim-input-style" required>
                    </div>
                    <div id="error-login" class="error">
                        <i class="fi fi-rr-exclamation"></i><span id="error-message"></span>
                    </div>
                    <button class="btn" type="submit">
                        Login
                        <i class="fi fi-rr-arrow-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
</body>
</html>
